body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
    background-color: #1d3461;
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23376996' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto; 
    grid-template-areas: 
                    "header header header header"
                    "main main main sidebar"
                    "footer footer footer footer";
}

p {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
}

a {
    color: #829CBC;
    font-style: italic;
    text-decoration: none;
    transition: .3s ease-in-out;
}

a:hover {
    color: whitesmoke;
}
/*=====================================================================
                                HEADER
======================================================================*/

header {
    background-color: #1d3461;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #829CBC;
    position: fixed;
    top: 0;
    z-index: 10;
    display: inline;
    grid-area: header;
    z-index: 10;
}

header .burger-menu {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    top: .4rem;
    left: .4rem;
}

header .burger-menu:hover {
    cursor: pointer;
}

header .burger-menu .bar {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #829CBC;
    transition: .3s ease;
}

header .burger-menu-options {
    background-color: #829CBC;
    position: relative;
    top: -465px;
    opacity: 0;
    transition: .3s ease;
}

header .burger-menu-options.active {
    position: relative;
    top: 16px;
    display: block;
    opacity: 1;
}

.burger-menu.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(.5rem, .6rem);
}

header .burger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

header .burger-menu.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(.4rem, -.5rem);
}

header .burger-menu-options a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #1D3461;
    font-size: 1.2rem;
}

header .burger-menu-options .burger-item {
    padding: 1.5rem;
    border-bottom: 1px solid #1D3461;
}

header .burger-menu-options .burger-item:hover {
    background-color: #1D3461;
    color: #829CBC;
    font-size: 1.5rem;
    font-weight: bold;
}

/*=====================================================================
                                OVERLAY
======================================================================*/

.overlay {
    position: fixed;
    top: 0;
    height: 100vh;
    background-color: #1D3461;
    opacity: 0;
    width: 100vw;
    /* display: none; */
    transition: .7s ease;
}

.overlay.active {
    /* display: block; */
    opacity: .9;
}

/*=====================================================================
                                LEFT SECTION
======================================================================*/

.left-section {
    grid-area: main;
}

.left-section .hero, .left-section .profile, .left-section .skills, .left-section .experience, .left-section .portfolio, .left-section .contact {
    padding: 1.5rem;
}

.profile, .skills, .experience, .portfolio, .contact {
    scroll-margin-top: 5rem;
}


/*================================HERO================================*/

.flip-container {
    position: relative;
    width: 250px;
    height: 220px;
    margin: 4rem auto;
}

.flip-card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    animation: card-animation 10s infinite;
}

/* .flip-card:hover {
    transform: rotateY(180deg);
} */

.flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: white;
}

.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back h1 {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 120%;
    /* font-family: 'Orbitron', sans-serif; */
    font-family: 'Press Start 2P', cursive;
    /*Rethink font...*/
}

.my-hero-pic {
    width: 100%;
    border: 2px solid #829CBC;
    border-radius: 150px;
}

@keyframes card-animation {
    0% {

    }
    50% {
        transform: rotateY(180deg);
    }
    100% {

    }
}

.left-section .hero .social-icons {
    display: flex;
    justify-content: space-around;
    width: 15rem;
    margin: 0 auto;
    padding: 1rem;
    /* border: 1px solid #1D3461;
    border-radius: 5px 50px 20px 5px;
    background-color: #829CBC; */
}

.hero .social-icon img {
    width: 3rem;
}

/*================================PROFILE=============================*/

.left-section .profile {
    background: linear-gradient(to right, #1D3461 0% 50%, rgb(29, 52, 97, .8) 50% 100%), url(pics/profile-ben-sweet-2LowviVHZ-E-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-right: 1px solid #829CBC;
    border-left: 10px solid #829CBC;
    border-radius: 10px 80px 40px 10px;
    position: relative;
    margin: 3rem 2rem 8rem;
    height: 300px;
    overflow: hidden;
}

.left-section .profile:hover .profile-header {
    padding-left: 4rem;
}

.left-section .profile .profile-header {
    transition: 1s ease;
    position: relative;
    bottom: 3.5rem;
    width: 15rem;
    height: 70px;
    background-color: #829CBC;
    border-radius: 0px 30px 50px 0px;
    padding-left: 2rem;
    z-index: 3;
}

.left-section .profile .profile-header h2 {
    position: relative;
    font-size: 4rem;
    background: -webkit-linear-gradient(#1D3461, #376996);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: animate 15s linear infinite;
    animation: animate 15s linear infinite;
}
/* no more issues, just need to experiment and make better */

@keyframes animate {
    0% {
      background-position: left 0 top 50px;
    }
    20% {
      background-position: left 800px top -50px;
    }
    40% {
      background-position: left 1800px top -60px;
    }
    60% {
      background-position: left 2400px top -80px;
    }
    80% {
      background-position: left 3400px top -50px;
    }
    100% {
      background-position: left 4400px top 50px;
    }
  }

.left-section .profile .profile-body {
    position: relative;
    z-index: 3;
}

.profile .profile-footer {
    width: 100%;
    height: 4rem;
    margin: 0;
    background-color: rgb(29, 52, 97, .9);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    border-top: 1px solid #829CBC;
    display: flex;
    justify-content: center;
}

.profile .profile-arrow {
    font-size: 3rem;
    opacity: .7;
}

.profile .profile-arrow:hover {
    font-size: 4rem;
    cursor: pointer;
}

/*================================SKILLS==============================*/

.left-section .skills {
    background: linear-gradient(to right, #1D3461 0% 50%, rgb(29, 52, 97, .8) 50% 100%), url(pics/skills-nubelson-fernandes-Y376h7VN27c-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-right: 1px solid #829CBC;
    border-left: 10px solid #829CBC;
    border-radius: 10px 80px 40px 10px;
    position: relative;
    margin: 3rem 2rem 8rem;
}


.left-section .skills:hover .skills-header {
    padding-left: 4rem;
}

.left-section .skills .skills-header {
    transition: 1s ease;
    position: relative;
    bottom: 3.5rem;
    width: 13rem;
    height: 70px;
    background-color: #829CBC;
    border-radius: 0px 30px 50px 0px;
    padding-left: 2rem;
    z-index: 3;
}

.left-section .skills .skills-header h2 {
    position: relative;
    font-size: 4rem;
    background: -webkit-linear-gradient(#1D3461, #376996);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.skills .skills-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 2rem auto;
}

.skills .skill-card {
    width: 7rem;
    height: 7rem;
    background-color: #1D3461;
    border-bottom: 1px solid #829CBC;
    border-right: 1px solid #829CBC;
    border-radius: 10px;
    margin: 1rem;
    padding: .5rem;
    position: relative;
    transition: .3s ease-in-out;
}

.skills .skill-card:hover {
    transform: translate(0, -.3rem);
}

.skills .skill-card-body {
    display: flex;
    justify-content: center;
    padding: .5rem 0;
    border-bottom: 1px solid #829CBC;
}

.skills .skills-cards img {
    width: 4rem;
}

.skills .skill-card-footer {
    display: flex;
    justify-content: center;
}

.skills .skill-card-footer p {
    margin: 0;
    padding: .4rem 0 0;
    width: fit-content;
}

/*=============================EXPERIENCE=============================*/

.left-section .experience {
    background: linear-gradient(to right, #1D3461 0% 37.5%, rgb(29, 52, 97, .8) 37.5% 100%), url(pics/exp-adrian-susec-fg8Bq7BuTGY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.experience .experience-header {
    transition: 1s ease;
    position: relative;
    bottom: 3.5rem;
    width: 22rem;
    height: 70px;
    background-color: #829CBC;
    border-radius: 5px 30px 50px 5px;
    padding: 0 0 1rem 2rem;
    z-index: 3;
}

.experience:hover .experience-header {
    padding-left: 4rem;
}

.experience .experience-header h2 {
    position: relative;
    font-size: 4rem;
    background: -webkit-linear-gradient(#1D3461, #376996);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*===============================PORTFOLIO============================*/

.portfolio .project-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-card {
    width: 250px;
    height: 300px;
    background: url('pics/nam2.jpg');
    background-size: cover;
    border: 1px solid #6290C8;
    border-radius: 10px;
    transition: .5s ease-in-out;
}

.pcard-details {
    text-align: center;
    position: relative;
    top: 12.84rem;
    background-color: rgb(31, 72, 126, .8);
    padding: 1rem 0;
    margin: 0;
    border-top: 1px solid #6290C8;
    border-radius: 0 0 12px 12px;
    transition: .3s ease-in-out;
}

.pcard-details .pcard-title {
    margin: 0;
}

.pcard-details .pcard-subtitle {
    margin: 1rem 0 0 0;
}

.pcard-info {
    display: none;
    text-align: center;
    height: 68.2%;
    overflow: auto;
    background-color: rgb(31, 72, 126, .8);
    position: relative;
    top: 12.5rem;
    border-radius: 0 0 12px 12px;
    transition: .3s ease-in-out;
}

.pcard-info::-webkit-scrollbar {
    width: 5px;
}

.pcard-info::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

.pcard-info::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #829CBC;
}

.pcard-info .pcard-buttons {
    display: flex;
    justify-content: space-evenly;
}

.pcard-info .pcard-buttons button {
    font-size: 1.2rem;
    background-color: #829CBC;
    color: #1D3461;
    padding: .2rem .5rem;
    border: 1px solid #1D3461;
    border-radius: 50px;
}

.project-card:hover {
    background-size: 120%;
    background-position: 50% 50%;
    box-shadow: 0 0 12px #376996;
}

.project-card:hover .pcard-details {
    top: 0;
    border-radius: 12px 12px 0 0;
    border-top: none;
    border-bottom: 1px solid #6290C8;
}

.project-card:hover .pcard-info {
    display: block;
    top: 0;
}

/*=============================CONTACT================================*/

.contact-form {
    text-align: center;
    background-color: #1D3461;
    border: 1px solid #6290C8;
    border-radius: 12px;
    padding: 1rem;
} 

.contact-form input {
    width: 96%;
    margin: .4rem 0;
    padding: .3rem .2rem .3rem .5rem;
    background-color: #1F487E;
    border: 1px solid #6290C8;
    border-radius: 50px;
}

.contact-form input::placeholder {
    color: whitesmoke;
}

/*=====================================================================
                                RIGHT SECTION
======================================================================*/

.right-section {
    grid-area: sidebar;
    /* background-color: #829CBC; */
    border-left: 1px solid #829CBC;
    padding-top: 50px;
    padding-bottom: 500px;
    position: fixed;
    right: 0;
    height: 100%;
    width: 25%;
}

.right-section .sidenav {
    display: flex;
    flex-direction: column;
    height: 95%;
}

.right-section .sidenav a {
    border-bottom: 1px solid #829CBC;
}

.right-section .sidenav a:link {
    height: 20%;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: 1s ease;
}

.right-section .sidenav a:nth-child(1) {
    background: linear-gradient(to right, rgb(29, 52, 97, .7), rgb(31, 72, 126, .7)), url(pics/profile-ben-sweet-2LowviVHZ-E-unsplash.jpg);
    background-size: 200%;
    background-position: 50% 50%;
}

.right-section .sidenav a:nth-child(2) {
    background: linear-gradient(to right, rgb(29, 52, 97, .3), rgb(31, 72, 126, .3)), url(pics/skills-nubelson-fernandes-Y376h7VN27c-unsplash.jpg);
    background-size: 200%;
    background-position: 50% 50%;
}

.right-section .sidenav a:nth-child(3) {
    background: linear-gradient(to right, rgb(29, 52, 97, .5), rgb(31, 72, 126, .5)), url(pics/exp-adrian-susec-fg8Bq7BuTGY-unsplash.jpg);
    background-size: 200%;
    background-position: 50% 50%;
}

.right-section .sidenav a:nth-child(4) {
    background: linear-gradient(to right, rgb(29, 52, 97, .5), rgb(31, 72, 126, .5)), url(pics/port-ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
    background-size: 200%;
    background-position: 50% 50%;
}

.right-section .sidenav a:nth-child(5) {
    background: linear-gradient(to right, rgb(29, 52, 97, .5), rgb(31, 72, 126, .5)), url(pics/contact-pawel-czerwinski--0xCCPIbl3M-unsplash.jpg);
    background-size: 200%;
    background-position: 50% 80%;
}

.right-section .sidenav a:hover .nav-item {
    padding-left: 1.5rem;
    font-size: 170%;
}

.right-section .sidenav a:hover {
    background-size: 220%;
    height: 25%;
    border-top: 2px solid #829CBC;
    border-bottom: 2px solid #829CBC;
}

.right-section .sidenav a .nav-item {
    position: relative;
    bottom: .5rem;
    font-size: 150%;
    font-weight: bold;
    padding: 1rem;
    letter-spacing: .1rem;
    background-color: rgb(130, 156, 188, .9);
    color: #1D3461;
    border: 1px solid #1D3461;
    border-left: none;
    border-radius: 0 20px 10px 0;
    transition: 1s ease;
    /* find more interesting font */
}





/*=====================================================================
                                FOOTER
======================================================================*/

footer {
    grid-area: footer;
    background-color: #1d3461;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #829CBC;
    color: #829CBC;
    /* make height of each section 80%, center, add padding and build bar between each */
}

footer .logo-copyright {
    height: 70%;
    text-align: center;
    border-right: 1px solid #829CBC;
}

footer .logo-copyright h4, footer .logo-copyright p {
    position: relative;
    bottom: .5rem;
    margin:  .5rem 1rem;
} 

footer .logo-copyright h4 {
    font-family: 'Press Start 2P', cursive;
    font-size: .8rem;
    font-weight: 100;
}

footer .logo-copyright h4:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: whitesmoke;
}

footer .formalities {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 35%;
}

footer .formalities a {
    color: #829CBC;
    margin:  .3rem .8rem;
    text-decoration: none;
}

footer .formalities a:hover {
    color: whitesmoke;
    cursor: pointer;
}

footer .socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    border-left: 1px solid #829CBC;
    height: 70%;
}

footer .socials img {
    width: 2rem;
}

footer .socials img:hover {
    transform: scale(1.15);
    cursor: pointer;
}


/* consider media query breakpoint at 550px */