body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    background: linear-gradient(135deg, #1D3461, #1F487E, #376996);
    background-size: 300%;
    background-position: 0%, 50%;
    animation: bgMove 20s ease-in-out;
}

@keyframes bgMove {
    0% {
        background-position: 0%, 50%;
    }
    50% {
        background-position: 100%, 50%;
    }
    100% {
        background-position: 0%, 50%;
    }
}

header {
    background-color: #376996;
    width: 100%;
    height: 50px;
}